<div class="footer d-flex flex-column justify-content-center gap-5 py-5">
    <h5 class="text-center">გამოიწერე, მიიღე ყველა ვაკანსიის შეტყობინება და დაეხმარე შენს თავს დასაქმებაში.</h5>
    <div class="d-flex gap-3 justify-content-center">
        <input class="border border-1 rounded-3 p-1 px-2" type="text" placeholder="ელ. ფოსტა">
        <button class="btn btn-warning rounded-3 border border-1 px-3">გამოწერა</button>
    </div>
    <div class="d-flex justify-content-center gap-4">
        <a class="rounded-5 border border-2 p-2" href="#"><i class="fa-brands fa-whatsapp text-success"></i></a>
        <a class="rounded-5 border border-2 p-2" href="#"><i class="fa-brands fa-facebook text-primary"></i></a>
        <a class="rounded-5 border border-2 p-2" href="#"><i class="fa-brands fa-tiktok text-dark"></i></a>
        <a class="rounded-5 border border-2 p-2" href="#"><i class="fa-brands fa-linkedin text-primary"></i></a>
        <a class="rounded-5 border border-2 p-2" href="#"><i class="fa-brands fa-youtube text-danger"></i></a>
    </div>
</div>